WebContent/WEB-INF/ShopWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://magazine.com/" name="ShopWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://magazine.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://magazine.com/" schemaLocation="ShopWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getShop">
    <part name="parameters" element="tns:getShop"/>
  </message>
  <message name="getShopResponse">
    <part name="parameters" element="tns:getShopResponse"/>
  </message>
  <message name="getProduct">
    <part name="parameters" element="tns:getProduct"/>
  </message>
  <message name="getProductResponse">
    <part name="parameters" element="tns:getProductResponse"/>
  </message>
  <message name="getOrder">
    <part name="parameters" element="tns:getOrder"/>
  </message>
  <message name="getOrderResponse">
    <part name="parameters" element="tns:getOrderResponse"/>
  </message>
  <message name="getAllOrders">
    <part name="parameters" element="tns:getAllOrders"/>
  </message>
  <message name="getAllOrdersResponse">
    <part name="parameters" element="tns:getAllOrdersResponse"/>
  </message>
  <message name="registerOrder">
    <part name="parameters" element="tns:registerOrder"/>
  </message>
  <message name="registerOrderResponse">
    <part name="parameters" element="tns:registerOrderResponse"/>
  </message>
  <message name="registerOrderOneWay">
    <part name="parameters" element="tns:registerOrderOneWay"/>
  </message>
  <portType name="ShopWebService">
    <operation name="getShop">
      <input message="tns:getShop"/>
      <output message="tns:getShopResponse"/>
    </operation>
    <operation name="getProduct">
      <input message="tns:getProduct"/>
      <output message="tns:getProductResponse"/>
    </operation>
    <operation name="getOrder">
      <input message="tns:getOrder"/>
      <output message="tns:getOrderResponse"/>
    </operation>
    <operation name="getAllOrders">
      <input message="tns:getAllOrders"/>
      <output message="tns:getAllOrdersResponse"/>
    </operation>
    <operation name="registerOrder">
      <input message="tns:registerOrder"/>
      <output message="tns:registerOrderResponse"/>
    </operation>
    <operation name="registerOrderOneWay">
      <input message="tns:registerOrderOneWay"/>
    </operation>
  </portType>
  <binding name="ShopWebServicePortBinding" type="tns:ShopWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getShop">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllOrders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registerOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registerOrderOneWay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="ShopWebServiceService">
    <port name="ShopWebServicePort" binding="tns:ShopWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

